{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>

<link rel="stylesheet" href="{% static 'home.css'%}"/>


 </head>

</title>

</head>

<body>


	<div class="dc">
        <div class="block-block-29">

<div class="main">

<nav>
         <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img  style="float:left; padding-left:50px;" class="img" src="{% static 'dairyweb/logo.png' %}">
      <ul>
        <li><a  href="/">Home</a></li>
        <li><a class="active" href="/About us">About Us</a></li>

        <li><a href="contact">Contact</a></li>
          <li><a href="products">products</a></li>

      </ul>
    </nav>

</div>
<marquee behavior="scroll" direction="left">
	<img src="{% static 'dairyweb/logo.png' %}" width="500" height="150" alt="Natural"/>
	<img src="https://img.freepik.com/premium-vector/3d-fresh-milk-ad-template_317442-1800.jpg?w=2000" width="500" height="200" alt="Natural" />
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6kyTQ0GfOZDZ07xPVY8H48EremUU-ORTdTg&usqp=CAU" width="500" height="200" alt="Natural" />
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShXwif6I8ceRmjQr09-Xhz9JPH_O3qMtaiVA&usqp=CAU" width="500" height="200" alt="Natural" />
	<img src="https://stock.intellemo.com/6315aefaa2435e2936f07127/6315aefba2435e2936f07128-v252/lassi_for_food_lovers_ad_l.jpg" width="500" height="200" alt="Natural" />

</marquee>



    </div>



<div class="block-block-28">
<div class="content">
    <p>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>

<p class="geek1">Vision:</p>
    <p>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
    <div class="block-block-28">
    <p>
Our vision at Surbhi Dairy is to be the leading provider of high-quality dairy products, known for our commitment to excellence, innovation, and customer satisfaction. We strive to create a sustainable and ethical dairy industry that benefits not only our customers but also our employees, the environment, and the communities we serve. By leveraging advanced technologies and best practices, we aim to exceed the expectations of our stakeholders and be recognized as a symbol of trust and integrity in the dairy sector.</p>
    </div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="geek1">mission:</p>
    <p>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
    <div class="block-block-28">
    <p>
Our mission at Surbhi Dairy is to deliver superior dairy products that enrich the lives of our consumers while upholding the highest standards of quality, freshness, and purity. We are dedicated to nurturing strong relationships with our farmers, ensuring their well-being, and supporting their growth. Through constant innovation, research, and development, we aim to offer a diverse range of nutritious and delicious dairy products that cater to the evolving needs and preferences of our customers.

We are committed to promoting sustainable farming practices, minimizing our environmental footprint, and maintaining the welfare of our livestock. </p>


    <p>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>

    <p>
        We value transparency and honesty in all our operations, ensuring that our products meet stringent safety and quality standards. By fostering a culture of continuous improvement and investing in the professional development of our employees, we strive to create a dynamic and inclusive work environment that fosters innovation, collaboration, and personal growth.

Furthermore, we actively engage with our local communities, contributing to their well-being through social initiatives, education, and support. Our aim is to be a responsible corporate citizen, empowering and uplifting those around us. At Surbhi Dairy, we are driven by a passion for excellence, a dedication to serving our customers, and a commitment to making a positive impact on the dairy industry and society as a whole.
    </p>
</div>
  </div>
    </div>






           <div class="block-block-29">
    <div>
      <h2 class="geek1">About us</h2>
    </div>



<div class="block-block-28">
<div class="content">

    <p style="float:right; padding:0px 15px 0px 50px; margin-top:-1px;"><a href="/About us"><img src="{% static 'dairyweb/mane sir.jpg' %}" /></a></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>At the helm of Surbhi Dairy stands the enigmatic and visionary figure, Mr. Mane. As the founder and driving force behind this remarkable enterprise, Mr. Mane embodies the essence of a true trailblazer. With a spirit fueled by passion and an unwavering commitment to excellence, he has established Surbhi Dairy as a paragon of innovation and quality in the dairy industry.

Mr. Mane's journey began with a fervent desire to revolutionize the way dairy products are produced and consumed. Inspired by his deep-rooted love for nature and a profound respect for traditional farming practices, he embarked on a quest to create a harmonious blend of tradition and technology. Under his astute leadership, Surbhi Dairy has become a beacon of sustainability, promoting eco-conscious practices that prioritize the welfare of animals and the preservation of the environment.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>Driven by an unwavering determination to deliver unparalleled freshness and purity, Mr. Mane has spearheaded a rigorous process to ensure the highest quality of dairy products. Surbhi Dairy's state-of-the-art facilities boast cutting-edge technology, meticulously designed to maintain the integrity and nutritional value of their offerings. Every step, from sourcing the finest ingredients to packaging and distribution, bears the indelible mark of Mr. Mane's unyielding commitment to uncompromising quality.

Beyond his pioneering spirit and business acumen, Mr. Mane is a staunch advocate for community welfare. Under his stewardship, Surbhi Dairy actively engages with local farmers, empowering them with knowledge and resources to cultivate sustainable farming practices. By fostering a close-knit network of dedicated individuals, Mr. Mane envisions a brighter future for both the dairy industry and the communities it serves. </p>
  </div>
    </div>


<div class="block-block-29">
    <div>
      <h2 class="geek1">celebrating 30 years of Surbhi</h2>
    </div>



<div class="block-block-28">
<div class="content">

<p>Celebrating 30 years of Surbhi Dairy is a milestone that fills us with pride and gratitude. Over the past three decades, we have worked tirelessly to build a brand that stands for uncompromising quality, reliability, and customer satisfaction. Our journey has been shaped by the unwavering dedication of our team, the trust of our valued customers, and the invaluable support of our stakeholders. As we reflect on this significant achievement, we are humbled by the growth and success we have achieved together.</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>Looking ahead, we remain committed to surpassing expectations, embracing innovation, and continuing to deliver the finest dairy products that have become synonymous with the Surbhi Dairy name. We express our heartfelt gratitude to everyone who has been a part of this remarkable journey and eagerly anticipate the future as we embark on the next chapter of excellence in the dairy industry.</p>
  </div>
    </div>
</div>





<footer>
  <div class="footer-container" style="text-align: center;">
    <div class="social-media">
      <a href="mailto:shindetanmay22@gmail.com"><img src="{% static 'dairyweb/mail.png'%}" style="padding:10px 10px 10px 10px;"></a>
      <a href="https://www.facebook.com/"><img src="{% static 'dairyweb/facebook.png'%}" style="padding:10px 10px 10px 10px;"></a>
      <a href="https://www.instagram.com/"><img src="{% static 'dairyweb/instagram.png'%}" style="padding:10px 10px 10px 10px;"></a>
    </div>
    <p style="text-align: center;">&copy; 2023 Surbhi Dairy. All rights reserved.</p>
  </div>
</footer>

</div>



</div>
</body>

</html>
