{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Animal Health</title>
    <link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="{% static 'home.css'%}"/>

</head>

</title>

</head>

<body>


	<div class="dc">
<div class="block-block-29">
<div class="main">

<nav>
         <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img style="float:left; padding-left:50px;" class="img" src="{% static 'dairyweb/logo.png' %}">
      <ul>
        <li><a  href="/">Home</a></li>
        <li><a href="/About us">About Us</a></li>

          <li><a href="/contact">Contact</a></li>
        <li><a href="products">products</a>
        </li>

      </ul>
    </nav>


<marquee behavior="scroll" direction="left">
	<img src="{% static 'dairyweb/logo.png' %}" width="500" height="150" alt="Natural"/>
	<img src="https://img.freepik.com/premium-vector/3d-fresh-milk-ad-template_317442-1800.jpg?w=2000" width="500" height="200" alt="Natural" />
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6kyTQ0GfOZDZ07xPVY8H48EremUU-ORTdTg&usqp=CAU" width="500" height="200" alt="Natural" />
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShXwif6I8ceRmjQr09-Xhz9JPH_O3qMtaiVA&usqp=CAU" width="500" height="200" alt="Natural" />
	<img src="https://stock.intellemo.com/6315aefaa2435e2936f07127/6315aefba2435e2936f07128-v252/lassi_for_food_lovers_ad_l.jpg" width="500" height="200" alt="Natural" />

</marquee>
    </div>






    <div class="block-block-28">
<div class="content">

    <p style="font-family: 'Josefin Sans', sans-serif;font-weight: bold;font-size: 22px;color:#87CEEB;">Animal Health - Our Commitment to Well-being and Care</p>

    <p>&nbsp;</p>
    <p style="float:right; padding:0px 15px 0px 50px; margin-top:-1px;"><a href="/About us"><img src="{% static 'dairyweb/stetoscope.jpg' %}" /></a></p>

<p>At Surbhi Dairy, we prioritize the health and well-being of our animals as a fundamental aspect of our operations. We firmly believe that healthy and content animals are essential in producing superior-quality dairy products. Our unwavering commitment to animal health encompasses comprehensive care, regular veterinary check-ups, and a focus on preventive measures.

We have established a dedicated team of experienced and compassionate professionals who closely monitor the health of our animals. This team ensures that our animals receive the highest level of care and attention, promoting their physical and mental well-being. Regular check-ups, vaccinations, and preventive treatments are implemented to safeguard against common illnesses and maintain optimal health.</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>We strongly believe in the power of preventive measures to protect the health of our animals. Our farm follows strict biosecurity protocols to minimize the risk of disease transmission. We maintain clean and hygienic living environments, provide nutritious diets tailored to each animal's specific needs, and ensure access to clean water at all times. Additionally, we prioritize stress reduction by creating comfortable living conditions and minimizing handling and transportation.

In the event that an animal does require medical attention, we ensure prompt and appropriate veterinary care. Our partnership with trusted veterinarians ensures that any health issues are addressed promptly, with a focus on compassionate treatment and recovery. We are committed to using safe and effective medications and treatments, always prioritizing the well-being and comfort of our animals.</p>

    <p>
        &nbsp;
    </p>

    <p>Furthermore, we believe that animal health extends beyond physical care. We strive to create a positive and enriching environment for our animals, providing them with ample space for movement, socialization, and access to outdoor areas. This commitment to their mental well-being promotes overall health and contentment.

At Surbhi Dairy, our dedication to animal health is at the core of our operations. We firmly believe that happy and healthy animals produce exceptional dairy products. By ensuring their well-being through comprehensive care, preventive measures, and a nurturing environment, we are able to deliver dairy products that meet the highest standards of quality, taste, and nutritional value.</p>


  </div>
    </div>













<footer>

  <div class="footer-container" style="text-align: center;">
    <div class="social-media">
      <a href="mailto:shindetanmay22@gmail.com"><img src="{% static 'dairyweb/mail.png'%}" style="padding:20px 10px 10px 10px;"></a>
      <a href="https://www.facebook.com/"><img src="{% static 'dairyweb/facebook.png'%}" style="padding:10px 10px 10px 10px;"></a>
      <a href="https://www.instagram.com/"><img src="{% static 'dairyweb/instagram.png'%}" style="padding:10px 10px 10px 10px;"></a>
    </div>
    <p style="text-align: center;">&copy; 2023 Surbhi Dairy. All rights reserved.</p>
  </div>
</footer>



</div>


        </div>




</body>

</html>

