{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Fodder for animals grown at farm</title>
    <link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="{% static 'home.css'%}"/>

</head>

</title>

</head>

<body>


	<div class="dc">
<div class="block-block-29">
<div class="main">

<nav>
         <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img style="float:left; padding-left:50px;" class="img" src="{% static 'dairyweb/logo.png' %}">
      <ul>
        <li><a  href="/">Home</a></li>
        <li><a href="/About us">About Us</a></li>

          <li><a href="contact">Contact</a></li>
        <li><a href="products">products</a>
        </li>

      </ul>
    </nav>


<marquee behavior="scroll" direction="left">
	<img src="{% static 'dairyweb/logo.png' %}" width="500" height="150" alt="Natural"/>
	<img src="https://img.freepik.com/premium-vector/3d-fresh-milk-ad-template_317442-1800.jpg?w=2000" width="500" height="200" alt="Natural" />
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6kyTQ0GfOZDZ07xPVY8H48EremUU-ORTdTg&usqp=CAU" width="500" height="200" alt="Natural" />
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShXwif6I8ceRmjQr09-Xhz9JPH_O3qMtaiVA&usqp=CAU" width="500" height="200" alt="Natural" />
	<img src="https://stock.intellemo.com/6315aefaa2435e2936f07127/6315aefba2435e2936f07128-v252/lassi_for_food_lovers_ad_l.jpg" width="500" height="200" alt="Natural" />

</marquee>
    </div>






    <div class="block-block-28">
<div class="content">

    <p style="font-family: 'Josefin Sans', sans-serif;font-weight: bold;font-size: 22px;color:#87CEEB;">Fodder for animals grown at farm</p>

    <p>&nbsp;</p>
    <p style="float:right; padding:0px 15px 0px 50px; margin-top:-1px;"><a href="/About us"><img src="{% static 'dairyweb/grass.jpg' %}" /></a></p>

<p>At Surbhi Dairy, we take utmost care in ensuring the health and nutrition of our animals. One essential aspect of their well-being is the quality of the fodder they consume. We are proud to emphasize that all the fodder provided to our animals is grown right here on our farm.

By cultivating our own fodder, we have complete control over its quality and nutritional content. Our dedicated team of farmers and agricultural experts work diligently to cultivate a diverse range of high-quality crops, ensuring a well-balanced diet for our animals. We prioritize their nutritional needs by selecting the finest seeds, employing sustainable farming practices, and using organic fertilizers to enhance soil fertility.
</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>The fodder is grown in fertile fields that are carefully managed to ensure optimal growth. We pay special attention to the cultivation process, from selecting the best crop varieties to monitoring irrigation and implementing natural pest control methods. By adhering to these practices, we are able to grow nutrient-rich and pesticide-free fodder, which translates into healthier and happier animals.

Our commitment to providing our animals with the best possible diet extends beyond their basic nutritional needs. We understand the importance of incorporating seasonal and locally available crops into their diet, ensuring a varied and balanced nutrition profile. This approach not only supports their overall health but also contributes to the sustainability of our farming practices.</p>

    <p>
        &nbsp;
    </p>

    <p>

        By growing our own fodder, we can guarantee the quality and traceability of our dairy products. It allows us to offer our customers the assurance that the milk and dairy products they consume come from animals that have been nourished with natural, locally sourced, and responsibly cultivated fodder.

At Surbhi Dairy, we believe that a healthy diet for our animals translates into superior-quality dairy products for our valued customers. By ensuring that our animals receive the best fodder grown on our farm, we take pride in providing you with milk and dairy products that are not only delicious but also a testament to our commitment to excellence, sustainability, and animal welfare.</p>


  </div>
    </div>













<footer>

  <div class="footer-container" style="text-align: center;">
    <div class="social-media">
      <a href="mailto:shindetanmay22@gmail.com"><img src="{% static 'dairyweb/mail.png'%}" style="padding:10px 10px 10px 10px;"></a>
      <a href="https://www.facebook.com/"><img src="{% static 'dairyweb/facebook.png'%}" style="padding:10px 10px 10px 10px;"></a>
      <a href="https://www.instagram.com/"><img src="{% static 'dairyweb/instagram.png'%}" style="padding:10px 10px 10px 10px;"></a>
    </div>
    <p style="text-align: center;">&copy; 2023 Surbhi Dairy. All rights reserved.</p>
  </div>
</footer>



</div>


        </div>




</body>

</html>

