{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>No Hormone Injections Given to Animals</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'home.css'%}"/>

</head>

</title>

</head>

<body>


	<div class="dc">
<div class="block-block-29">
<div class="main">

<nav>
         <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img style="float:left; padding-left:50px;" class="img" src="{% static 'dairyweb/logo.png' %}">
      <ul>
        <li><a  href="/">Home</a></li>
        <li><a href="/About us">About Us</a></li>

          <li><a href="/contact">Contact</a></li>
        <li><a href="products">products</a>
        </li>

      </ul>
    </nav>


<marquee behavior="scroll" direction="left">
	<img src="{% static 'dairyweb/logo.png' %}" width="500" height="150" alt="Natural"/>
	<img src="https://img.freepik.com/premium-vector/3d-fresh-milk-ad-template_317442-1800.jpg?w=2000" width="500" height="200" alt="Natural" />
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6kyTQ0GfOZDZ07xPVY8H48EremUU-ORTdTg&usqp=CAU" width="500" height="200" alt="Natural" />
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShXwif6I8ceRmjQr09-Xhz9JPH_O3qMtaiVA&usqp=CAU" width="500" height="200" alt="Natural" />
	<img src="https://stock.intellemo.com/6315aefaa2435e2936f07127/6315aefba2435e2936f07128-v252/lassi_for_food_lovers_ad_l.jpg" width="500" height="200" alt="Natural" />

</marquee>
    </div>






    <div class="block-block-28">
<div class="content">

    <p style="font-family: 'Josefin Sans', sans-serif;font-weight: bold;font-size: 22px;color:#87CEEB;">No Hormone Injections Given to Animals</p>

    <p>&nbsp;</p>

    <p style="float:right; padding:0px 15px 0px 50px; margin-top:-1px;"><a href="/About us"><img src="{% static 'dairyweb/injection.jpg' %}" /></a></p>

<p>At Surbhi Dairy, we take great pride in our commitment to producing high-quality dairy products while prioritizing the welfare and well-being of our animals. We firmly believe in providing a natural and ethical environment for our livestock, which is why we strictly adhere to a "No Hormone Injections" policy.

</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>Our animals are raised in spacious and clean surroundings, allowing them to freely roam and graze on natural pastures. We prioritize their health and happiness by providing them with a balanced diet, regular veterinary care, and ample access to clean water and fresh air.

We firmly reject the use of hormone injections as a means of artificially enhancing the productivity of our animals. Instead, we rely on responsible and sustainable farming practices to ensure the optimal health and productivity of our livestock. Our dedicated team of experienced farmers and animal husbandry experts work closely to create a stress-free and comfortable environment for our animals, promoting their natural growth and well-being.</p>

    <p>
        &nbsp;
    </p>

    <p>

        By not administering hormone injections, we guarantee that our dairy products are free from any artificial hormones or growth stimulants. This commitment is not only beneficial for the animals but also for our consumers who seek wholesome and natural dairy products for their families.

At Surbhi Dairy, we believe that by nurturing our animals' natural growth and well-being, we can provide our customers with dairy products that are not only delicious but also ethically produced. We invite you to experience the difference in taste and quality that comes from our No Hormone Injections policy, ensuring that every sip and bite from Surbhi Dairy is a source of genuine nourishment and satisfaction.
    </p>


  </div>
    </div>













<footer>

  <div class="footer-container" style="text-align: center;">
    <div class="social-media">
      <a href="mailto:shindetanmay22@gmail.com"><img src="{% static 'dairyweb/mail.png'%}" style="padding:10px 10px 10px 10px;"></a>
      <a href="https://www.facebook.com/"><img src="{% static 'dairyweb/facebook.png'%}" style="padding:10px 10px 10px 10px;"></a>
      <a href="https://www.instagram.com/"><img src="{% static 'dairyweb/instagram.png'%}" style="padding:10px 10px 10px 10px;"></a>
    </div>
    <p style="text-align: center;">&copy; 2023 Surbhi Dairy. All rights reserved.</p>
  </div>
</footer>



</div>


        </div>




</body>

</html>

