{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Pure-Breed Animals</title>
    <link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="{% static 'home.css'%}"/>

</head>

</title>

</head>

<body>


	<div class="dc">
<div class="block-block-29">
<div class="main">

<nav>
         <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img style="float:left; padding-left:50px;" class="img" src="{% static 'dairyweb/logo.png' %}">
      <ul>
        <li><a  href="/">Home</a></li>
        <li><a href="/About us">About Us</a></li>

          <li><a href="contact">Contact</a></li>
        <li><a href="products">products</a>
        </li>

      </ul>
    </nav>


<marquee behavior="scroll" direction="left">
	<img src="{% static 'dairyweb/logo.png' %}" width="500" height="150" alt="Natural"/>
	<img src="https://img.freepik.com/premium-vector/3d-fresh-milk-ad-template_317442-1800.jpg?w=2000" width="500" height="200" alt="Natural" />
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6kyTQ0GfOZDZ07xPVY8H48EremUU-ORTdTg&usqp=CAU" width="500" height="200" alt="Natural" />
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShXwif6I8ceRmjQr09-Xhz9JPH_O3qMtaiVA&usqp=CAU" width="500" height="200" alt="Natural" />
	<img src="https://stock.intellemo.com/6315aefaa2435e2936f07127/6315aefba2435e2936f07128-v252/lassi_for_food_lovers_ad_l.jpg" width="500" height="200" alt="Natural" />

</marquee>
    </div>






    <div class="block-block-28">
<div class="content">

    <p style="font-family: 'Josefin Sans', sans-serif;font-weight: bold;font-size: 22px;color:#87CEEB;">Pure-Breed Animals - Ensuring Quality and Genetic Integrity</p>

    <p>&nbsp;</p>
    <p style="float:right; padding:0px 15px 0px 50px; margin-top:-1px;"><a href="/About us"><img src="{% static 'dairyweb/cow2.jpg' %}" /></a></p>

<p>At Surbhi Dairy, we place a strong emphasis on maintaining pure-breed animals to uphold the highest standards of quality and genetic integrity in our dairy products. We believe that the purity of the breed directly impacts the characteristics and excellence of the milk and dairy products we offer to our valued customers.

We take great care in selecting and breeding animals from reputable and trusted sources to ensure that they belong to pure-breed lineages. Our dedicated team of experts closely monitors the breeding process, ensuring that strict guidelines and best practices are followed to preserve the genetic integrity of each breed.
</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>By focusing on pure-breed animals, we can ensure consistent and desirable traits that contribute to the superior quality of our dairy products. Pure-breed animals are known for their specific characteristics such as milk composition, flavor profiles, and overall product excellence. This allows us to deliver products that meet and exceed the expectations of our discerning customers.

To maintain the purity of our breeds, we adhere to rigorous record-keeping systems that track the lineage, health history, and breeding information of each animal. Regular health check-ups, vaccinations, and preventive measures are implemented to safeguard their well-being and maintain their genetic purity.

</p>

    <p>
        &nbsp;
    </p>

    <p>
The commitment to pure-breed animals is not only about product quality but also about preserving the heritage and diversity of different breeds. By promoting the breeding of pure-breed animals, we contribute to the conservation and protection of these valuable genetic resources for future generations.

At Surbhi Dairy, we take immense pride in our pure-breed animals, as they are the foundation of our commitment to excellence. From the moment they are born to the time their milk reaches your doorstep, our pure-breed animals are nurtured with utmost care and respect. We invite you to savor the exceptional quality and distinctive characteristics that only pure-breed animals can deliver, as we continue to uphold our dedication to providing you with the finest dairy products.</p>


  </div>
    </div>













<footer>

  <div class="footer-container" style="text-align: center;">
    <div class="social-media">
      <a href="mailto:shindetanmay22@gmail.com"><img src="{% static 'dairyweb/mail.png'%}" style="padding:20px 10px 10px 10px;"></a>
      <a href="https://www.facebook.com/"><img src="{% static 'dairyweb/facebook.png'%}" style="padding:10px 10px 10px 10px;"></a>
      <a href="https://www.instagram.com/"><img src="{% static 'dairyweb/instagram.png'%}" style="padding:10px 10px 10px 10px;"></a>
    </div>
    <p style="text-align: center;">&copy; 2023 Surbhi Dairy. All rights reserved.</p>
  </div>
</footer>



</div>


        </div>




</body>

</html>

