{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="{% static 'home.css'%}">
</head>
<body>


<div class="dc">

<div class="main">

<nav>
         <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img style="float:left; padding-left:50px;" class="img" src="{% static 'dairyweb/logo.png' %}">
      <ul>
        <li><a  href="/">Home</a></li>
        <li><a href="/About us">About Us</a></li>

          <li><a href="/contact">Contact</a></li>
        <li><a class="active" href="/products">products</a>
        </li>

      </ul>
    </nav>


<marquee behavior="scroll" direction="left">
	<img src="{% static 'dairyweb/logo.png' %}" width="500" height="150" alt="Natural"/>
	<img src="https://img.freepik.com/premium-vector/3d-fresh-milk-ad-template_317442-1800.jpg?w=2000" width="500" height="200" alt="Natural" />
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6kyTQ0GfOZDZ07xPVY8H48EremUU-ORTdTg&usqp=CAU" width="500" height="200" alt="Natural" />
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShXwif6I8ceRmjQr09-Xhz9JPH_O3qMtaiVA&usqp=CAU" width="500" height="200" alt="Natural" />
	<img src="https://stock.intellemo.com/6315aefaa2435e2936f07127/6315aefba2435e2936f07128-v252/lassi_for_food_lovers_ad_l.jpg" width="500" height="200" alt="Natural" />

</marquee>
    </div>









            <div>
      <h2 class="geek1">our products</h2>
    </div>





<div class="block-block-28">
  <div class="grid-container">
    <div class="grid-item">
        <a href="/milk"> <img src="{% static 'dairyweb/milk.png' %}" alt="Image 1"></a>
        <div class="description">Surbhi Milk </div>
    </div>
    <div class="grid-item">
        <a href="/malai dahi"><img src="{% static 'dairyweb/malai Dahi.png' %}" alt="Image 2"></a>
        <div class="description">Surbhi Malai Dahi</div>
    </div>
    <div class="grid-item">
        <a href="/products"><img src="{% static 'dairyweb/Dshreekhand.PNG' %}" alt="Image 3"></a>
        <div class="description">Surbhi Dryfruit Shreekhand</div>
    </div>
       <div class="grid-item">
           <a href="/products"><img src="{% static 'dairyweb/amrakhand.png' %}" alt="Image 3"></a>
        <div class="description">Surbhi Amrakhand</div>
    </div>
       <div class="grid-item">
           <a href="/products"><img src="{% static 'dairyweb/bshreekhand.png' %}" alt="Image 3"></a>
        <div class="description">Surbhi Butterschoch Shreekhand</div>
    </div>

  </div>


</div>



<p>&nbsp;&nbsp;</p>



            <div class="block-block-28">
  <div class="grid-container">
    <div class="grid-item">
        <a href="/products"> <img src="{% static 'dairyweb/milk.png' %}" alt="Image 1"></a>
        <div class="description">Surbhi Milk </div>
    </div>
    <div class="grid-item">
        <a href="/products"><img src="{% static 'dairyweb/malai Dahi.png' %}" alt="Image 2"></a>
        <div class="description">Surbhi Malai Dahi</div>
    </div>
    <div class="grid-item">
        <a href="/products"><img src="{% static 'dairyweb/Dshreekhand.PNG' %}" alt="Image 3"></a>
        <div class="description">Surbhi Dryfruit Shreekhand</div>
    </div>
       <div class="grid-item">
           <a href="/products"><img src="{% static 'dairyweb/amrakhand.png' %}" alt="Image 3"></a>
        <div class="description">Surbhi Amrakhand</div>
    </div>
       <div class="grid-item">
           <a href="/products"><img src="{% static 'dairyweb/bshreekhand.png' %}" alt="Image 3"></a>
        <div class="description">Surbhi Butterschoch Shreekhand</div>
    </div>

  </div>


</div>





<p>&nbsp;</p>


<footer>

  <div class="footer-container" style="text-align: center;">
    <div class="social-media">
      <a href="mailto:shindetanmay22@gmail.com"><img src="{% static 'dairyweb/mail.png'%}" style="padding:20px 10px 10px 10px;"></a>
      <a href="https://www.facebook.com/"><img src="{% static 'dairyweb/facebook.png'%}" style="padding:10px 10px 10px 10px;"></a>
      <a href="https://www.instagram.com/"><img src="{% static 'dairyweb/instagram.png'%}" style="padding:10px 10px 10px 10px;"></a>
    </div>
    <p style="text-align: center;">&copy; 2023 Surbhi Dairy. All rights reserved.</p>
  </div>
</footer>










</div>




</body>
</html>